# Python build artifacts
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Virtual environments
.venv/
.poetry/

# Common binary/doc formats
*.pdf
*.png
DEVLOG.md
# Ignore HTML everywhere except docs
*.html
!mechlab-docs/**/*.html

# Project-specific folders
mechlab-docs/
